<!DOCTYPE html>
<html>
  <head>
    <title>Twitter blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div>
        <h4 class="font-weight-bold mb-0">
          <%= image_pack_tag 'twitter-logo.png', size: '35x30', alt: 'Logo', :class => "mb-2"  %>
          <%= link_to "Twitter Blog", home_path, :class => "blog-title" %>
        </h4>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <span class="nav-link font-weight-bolder"> <%= link_to "Головна сторінка", home_path, :class => "nav-link" %> <span class="sr-only">(current)</span></span>
          </li>
          <li class="nav-item">
            <span class="nav-link font-weight-bolder" href="#"><%= link_to "Про нас", about_path, :class => "nav-link" %></span>
          </li>
          <li class="nav-item">
            <span class="nav-link font-weight-bolder" href="#"><%= link_to "Додати пост", new_post_path, :class => "nav-link" %></span>
          </li>
        </ul>
      </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
